
<%=@user.name%>
<%=@user.zip_location%>
<%=@user.city%>

This is the users homepage
This page should recognize the user due to session and also
display all of the users formns in boxes and a search bar.
menu drag down button.








<%@user.posts.each do |post|%>
<a href="/posts/<%=post.id%>/forum/new"><%=post.name%></a>
<%end%>

<a href="/posts/<%=@user.zip_location%>/home/new">Create new Post</a>
<%binding.pry%>
